{#
/**
 * @file
 * Theme override to list node types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 */
#}
{% if types is not empty %}
    {% for type in types %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" data-toggle="content-list-{{ type.type }}">
            <div class="content-add">
                <div class="row">
                    <div class="col-5">
                        <div class="icon ">
                            <img src="/{{ directory }}/images/core/node-add/{{ type.type }}.png">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="add-link">
                            {{ type.add_link }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="description">
                            {{ type.description }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="link-further">
                            <a class="btn btn-rinok" href="/node/add/{{ type.type }}">{{ 'Разместить объявление'|t }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>
        {% set create_content = path('node.type_add') %}
        {% trans %}
        You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
        {% endtrans %}
    </p>
{% endif %}
