
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-5 col-lg-5">
        <div class="block first">
            <a class="btn btn-header" href="{{ amazee_header.support.link_href }}">
                {{ amazee_header.support.link_text }}
            </a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
        <div class="block top">
            <a class="btn btn-personal-area" href="{{ amazee_header.personal_area.link_href }}" class="btn btn-header">
                {{ amazee_header.personal_area.link_text }}
            </a>
        </div>
    </div>
    {% if page.header_social_media %}
        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 hidden-xs">
            <div class="block last">
                <a class="btn btn-header pmd-ripple-effect collapsed" role="button" data-toggle="collapse" href="#headerSearch" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
                {{ page.header_social_media }}
                {% if amazee_header.phone.link_text and amazee_header.phone.link_href %}
                    <a class="btn btn-header phone" href="tel:{{ amazee_header.phone.link_href }}">
                        {{ amazee_header.phone.link_text }}
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 hidden-xs">
            <div class="block last">
                <a class="btn btn-header pmd-ripple-effect collapsed" role="button" data-toggle="collapse" href="#headerSearch" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
                {% if amazee_header.phone.link_text and amazee_header.phone.link_href %}
                    <a class="btn btn-header phone" href="tel:{{ amazee_header.phone.link_href }}">
                        {{ amazee_header.phone.link_text }}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
